:root {
  --mainPurple: #2a2a72;
  --lightGrey: #f7f7f7;
  --mainWhite: #ffffff;
  --mainDark: #2e2e2e;
  --mainGrey: #e7e7e7;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Permanent Marker',cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainPurple);
}

.text-bright {
  color: var(--lightGrey);
}

.btn-black {
  background: transparent;
  text-transfor: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainGrey);
}